@model Dictionary<string,string>
<!--Catalogs Section-->
<section class="services-section">
    <div class="auto-container">
        <!--Catalog Title-->
        <div class="sec-title centered">
            <h2>Kataloglar</h2>
            <div class="separater"></div>
            <div class="text">Hizmet verdiğimiz faaliyet alanlarındaki kataloglarımızı inceleyebilirsiniz.</div>
        </div>
        <div class="row clearfix">
            @foreach (var item in Model)
            {
                string avifPath = string.Format("~/images/resource/{0}.avif", item.Key).Replace(" ", "");
                string imagePath = string.Format("~/images/resource/{0}.jpg", item.Key).Replace(" ", "");
                string pdfPath = string.Format("~/pdfs/{0}.pdf", item.Key).Replace(" ", "");

                // Kategorilere özel ikonları belirleme
                string iconClass = item.Key switch
                {
                    "Spor Malzemeleri" => "flaticon-award",
                    "Ofis ve Kırtasiye Ürünleri" => "flaticon-pencil",
                    "Pet Shop Ürünleri" => "flaticon-heart",
                    "Ev Gereçleri" => "flaticon-house",
                    "Elektronik Ürünler" => "flaticon-smartphone",
                    "Oyuncak & Hobi Ürünleri" => "flaticon-play-button",
                    _ => "flaticon-box" // Varsayılan ikon
                };

                <!--Catalog Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="upper-box">
                            <span class="icon @iconClass"></span>
                            <h3>
                               @item.Key
                            </h3>  
                        </div>
                        <div class="lower-box">
                            <div class="image">
                                <picture>
                                    <source srcset="@Url.Content(avifPath)" type="image/avif">
                                    <img class="catalog-image" loading="lazy" alt="@item.Key" src="@Url.Content(imagePath)" />
                                </picture>

                                <div class="overlay-box">
                                    <div class="text">@item.Value</div>
                                    <a asp-controller="Shop" asp-action="Catalog" asp-route-catalogName="@item.Key" class="link-btn"><span class="fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<!--End Catalogs Section-->
@* href="@Url.Action("OpenPdf", "Home", new { filePath = pdfPath })" target="_blank" *@