@model IEnumerable<Product>
<!-- Related Products -->
<div class="sidebar-widget related-posts">
    <div class="sidebar-title">
        <h2>İlgili Ürünler</h2>
        <div class="separater"></div>
    </div>
    @foreach (Product item in Model)
    {
        <div class="post">
            <figure class="post-thumb"><a asp-controller="Shop" asp-action="ProductDetailed" asp-route-productCode="@item.ProductCode"> <img loading="lazy" src="@Url.Content(string.Format("~/images/resource/products/{0}/1.jpg", item.ProductCode))" alt="@item.ProductName" /></a></figure>
            <h4><a asp-controller="Shop" asp-action="ProductDetailed" asp-route-productCode="@item.ProductCode">@item.ProductName</a></h4>
            <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
            <div class="price">@item.BasePrice ₺</div>
        </div>
    }


</div>
