@model BirileriWebSitesi.Models.InquiryAggregate.Inquiry
@if (Model.Items.Count > 0)
{
    decimal itemTotal = 0;
    <div class="auto-container">

        <!--Cart Outer-->
        <div class="cart-outer">
            <div class="table-outer">

                <table class="cart-table">
                    <thead class="cart-header">
                        <tr>
                            <th>Önizleme</th>
                            <th class="prod-column">Ürün</th>
                            <th class="price">Fiyat</th>
                            <th>Miktar</th>
                            <th>Toplam</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            itemTotal = item.Quantity * item.UnitPrice;
                            <tr>
                                <td class="prod-column">
                                    <div class="column-box">
                                        <figure class="prod-thumb">
                                            <a asp-controller="Shop" asp-action="ProductDetailed" asp-route-productCode="@item.ProductCode">
                                                <img src="@Url.Content(string.Format("/images/resource/products/{0}/1.jpg", item.ImagePath))" loading="lazy" alt="@item.ProductName">
                                            </a>
                                        </figure>
                                    </div>
                                </td>
                                <td><h4 class="prod-title">@item.ProductName</h4></td>
                                <td class="sub-total">@item.UnitPrice</td>
                                <td class="qty"><div class="item-quantity" style="color:black"><input style="color:black" data-productCode="@item.ProductCode" class="quantity-spinner" type="text" value="@item.Quantity" name="quantity"></div></td>
                                <td class="total">@itemTotal</td>
                                <td><span class="alert-text"></span><a data-productcode="@item.ProductCode" class="remove-btn"><span class="fa fa-remove"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            @* <div class="cart-options clearfix">
                 <div class="pull-left">
            <div class="apply-coupon clearfix">
            <div class="form-group clearfix">
            <input type="text" name="coupon-code" value="" placeholder="Coupon Code">
            </div>
            <div class="form-group clearfix">
            <button type="button" class="theme-btn coupon-btn">Apply Coupon</button>
            </div>
            </div>
            </div> 

                 <div class="pull-right">
                    <button type="button" class="theme-btn cart-btn update-cart">SEPETİ GÜNCELLE</button>
                </div> 

            </div> *@
        </div>

        <div class="row clearfix" style="margin-top:30px;">

            <div class="column pull-right col-lg-6 col-md-6 col-sm-12">
                <!--Totals Table-->
                <ul class="totals-table">
                    <li class="clearfix total"><span class="col">Toplam</span><span class="col ">@Model.TotalAmount ₺</span></li>
                    <li class="text-right"><a class="theme-btn proceed-btn" asp-controller="Order" asp-action="CheckOutInquiry" style="cursor:pointer;">İstek Gönder</a></li>
                </ul>
            </div>

        </div>

    </div>

}
else
{
    <div class="auto-container">
        <p>İstek Sepetiniz Boş, <a type="button" asp-controller="Shop" asp-action="Index">alışverişe devam edin</a></p>
    </div>
}
