@* <style>
    body {
        font-family: Arial, sans-serif;
        margin: 40px;
        background-color: #f9f9f9;
        color: #333;
        line-height: 1.7;
    }

    h2 {
        color: #2a7dad;
        margin-top: 40px;
    }

    h3 {
        margin-top: 30px;
        color: #444;
    }

    p, ul, ol, table {
        margin-bottom: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        background-color: #fff;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .section {
        margin-top: 40px;
    }
</style> *@

@model BirileriWebSitesi.Models.OrderAggregate.Order
<h2>ÖN BİLGİLENDİRME FORMU</h2>

<div class="section">
    <h3>1. KONU</h3>
    <p>
        Bu Ön Bilgilendirme Formu, SATICI'nın ALICI’ya satışını yaptığı ürün/ürünlerin satışı ve teslimi ile ilgili olarak
        6502 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince tarafların hak ve yükümlülüklerini kapsar.
        ALICI, bu formu onayladığında sipariş konusu bedeli, varsa kargo ve vergi gibi ek ücretleri ödeme yükümlülüğünü kabul eder.
    </p>
</div>

<div class="section">
    <h3>2. SATICI BİLGİLERİ</h3>
    <p>
        <strong>Ünvan:</strong> Birileri Dış Ticaret Danışmanlık Sanayi ve Ticaret Limited Şirketi<br>
        <strong>Adres:</strong> Bahariye Mah. 1865 sok No 9 D 1 Karşıyaka / İzmir <br>
        <strong>Telefon:</strong> +90 555 561 45 47<br>
        <strong>E-posta:</strong> info@birilerigt.com
    </p>
</div>

<div class="section">
    <h3>3. ALICI BİLGİLERİ</h3>

    <p>
        @if (Model.BillingAddress.IsCorporate)
        {
            <strong>Firma Adı:</strong> @Model.BillingAddress.CorporateName <br>
            <strong>Vergi Numarası:</strong> @Model.BillingAddress.VATnumber.ToString() <br>
        }
        else
        {
            <strong>Adı Soyadı:</strong> @String.Format("{0} {1}", Model.BillingAddress.FirstName, Model.BillingAddress.LastName) <br>
        }
        <strong>Adresi:</strong> @Model.BillingAddress.AddressDetailed<br>
        <strong>Telefon:</strong> @Model.BillingAddress.Phone<br>
        <strong>E-posta:</strong> @Model.BillingAddress.EmailAddress<br>
    </p>
</div>

<div class="section">
    <h3>4. SÖZLEŞME KONUSU ÜRÜN/ÜRÜNLER</h3>
    <table>
        @foreach (var item in Model.OrderItems)
        {

            var totalPrice = @item.UnitPrice * @item.Units;
            var tax = Convert.ToDouble(totalPrice) * 0.2;
            <tr>
                <th>Ürün Adı</th>
                <th>Adet</th>
                <th>Taksit</th>
                <th>Toplam Tutar</th>
            </tr>
            <tr>
                <td>@item.ProductVariant.ProductName</td>
                <td>@item.Units</td>
                <td>@Model.InstallmentAmount</td>
                <td>@totalPrice.ToString("C2")</td>
            </tr>
            <tr>
                <td colspan="3">KDV</td>
                <td>@tax.ToString("C2")</td>
            </tr>
            <tr>
                <td colspan="3">Kargo Ücreti</td>
                <td>0</td>
            </tr>
        }
		<tr>
            <td colspan="3"><strong>Genel Toplam</strong></td>
            <td><strong>@Model.TotalAmount.ToString("C2") TL</strong></td>
        </tr>
    </table>
    <p>
        <strong>Kargo Tutarı:</strong> 0,00 TL<br>
        <strong>Ödeme Şekli:</strong> @Model.PaymentType == 1 ? "Banka Transferi" : "Kredi Kartı"<br>
        <strong>Ödenecek Toplam Tutar:</strong> @Model.TotalAmount<br>
        <strong>Teslimat Adresi:</strong> @Model.ShipToAddress.AddressDetailed<br>
        <strong>Fatura Adresi:</strong> @Model.BillingAddress.AddressDetailed<br>
        <strong>Sipariş Tarihi:</strong> @DateTime.Now.ToString("dd.MM.yyyy")<br>
        <strong>Teslim Şekli:</strong> Aras Kargo
    </p>
</div>

<div class="section">
    <h3>5. GENEL HÜKÜMLER</h3>
    <p>
        5.1. ALICI, SATICI’ya ait internet sitesinde sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup, bilgi sahibi olduğunu, elektronik ortamda gerekli teyidi verdiğini kabul, beyan ve taahhüt eder. ALICININ; Ön Bilgilendirmeyi elektronik ortamda teyit etmesi, mesafeli satış sözleşmesinin kurulmasından evvel, SATICI tarafından ALICI' ya verilmesi gereken adresi, siparişi verilen ürünlere ait temel özellikleri, ürünlerin vergiler dâhil fiyatını, ödeme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini kabul, beyan ve taahhüt eder.<br />
        5.2. Sözleşme konusu her bir ürün, 30 günlük yasal süreyi aşmamak kaydı ile ALICI' nın yerleşim yeri uzaklığına bağlı olarak internet sitesindeki ön bilgiler kısmında belirtilen süre zarfında ALICI veya ALICI’ nın gösterdiği adresteki kişi ve/veya kuruluşa teslim edilir. Bu süre içinde ürünün ALICI’ya teslim edilememesi durumunda, ALICI’nın sözleşmeyi feshetme hakkı saklıdır.<br />
        5.3. SATICI, sözleşme konusu ürünü eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri, kullanım kılavuzları ile teslim etmeyi, her türlü ayıptan arî olarak yasal mevzuat gereklerine sağlam, standartlara uygun bir şekilde işin gereği olan bilgi ve belgeler ile işi doğruluk ve dürüstlük esasları dâhilinde ifa etmeyi, hizmet kalitesini koruyup yükseltmeyi, işin ifası sırasında gerekli dikkat ve özeni göstermeyi, ihtiyat ve öngörü ile hareket etmeyi kabul, beyan ve taahhüt eder.<br />
        5.4. SATICI, sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan ALICI’yı bilgilendirmek ve açıkça onayını almak suretiyle eşit kalite ve fiyatta farklı bir ürün tedarik edebilir.<br />
        5.5. SATICI, sipariş konusu ürün veya hizmetin yerine getirilmesinin imkânsızlaşması halinde sözleşme konusu yükümlülüklerini yerine getiremezse, bu durumu, öğrendiği tarihten itibaren 3 gün içinde yazılı olarak tüketiciye bildireceğini, 14 günlük süre içinde toplam bedeli ALICI’ya iade edeceğini kabul, beyan ve taahhüt eder.<br />
        5.6. ALICI, sözleşme konusu ürünün teslimatı için işbu Ön Bilgilendirme Formunu elektronik ortamda teyit edeceğini, herhangi bir nedenle sözleşme konusu ürün bedelinin ödenmemesi ve/veya banka kayıtlarında iptal edilmesi halinde, SATICI’ nın sözleşme konusu ürünü teslim yükümlülüğünün sona ereceğini kabul, beyan ve taahhüt eder.<br />
        5.7. ALICI, Sözleşme konusu ürünün ALICI veya ALICI’nın gösterdiği adresteki kişi ve/veya kuruluşa tesliminden sonra ALICI'ya ait kredi kartının yetkisiz kişilerce haksız kullanılması sonucunda sözleşme konusu ürün bedelinin ilgili banka veya finans kuruluşu tarafından SATICI'ya ödenmemesi halinde, ALICI Sözleşme konusu ürünü 3 gün içerisinde nakliye gideri SATICI’ya ait olacak şekilde SATICI’ya iade edeceğini kabul, beyan ve taahhüt eder.<br />
        5.8. SATICI, tarafların iradesi dışında gelişen, önceden öngörülemeyen ve tarafların borçlarını yerine getirmesini engelleyici ve/veya geciktirici hallerin oluşması gibi mücbir sebepler halleri nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI' ya bildireceğini kabul, beyan ve taahhüt eder. ALICI da siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesini SATICI’ dan talep etme hakkına haizdir. ALICI tarafından siparişin iptal edilmesi halinde ALICI’ nın nakit ile yaptığı ödemelerde, ürün tutarı 14 gün içinde kendisine nakden ve defaten ödenir. ALICI’ nın kredi kartı ile yaptığı ödemelerde ise, ürün tutarı, siparişin ALICI tarafından iptal edilmesinden sonra 14 gün içerisinde ilgili bankaya iade edilir. ALICI, SATICI tarafından kredi kartına iade edilen tutarın banka tarafından ALICI hesabına yansıtılmasına ilişkin ortalama sürecin 2 ile 3 haftayı bulabileceğini, bu tutarın bankaya iadesinden sonra ALICI’ nın hesaplarına yansıması halinin tamamen banka işlem süreci ile ilgili olduğundan, ALICI, olası gecikmeler için SATICI’ yı sorumlu tutamayacağını kabul, beyan ve taahhüt eder.<br />
    </p>
</div>

<div class="section">
    <h3>6. CAYMA HAKKI</h3>
    <p>
        6.1. ALICI; mal satışına ilişkin mesafeli sözleşmelerde, ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 (on dört) gün içerisinde, SATICI’ya bildirmek şartıyla hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkını kullanabilir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihten itibaren başlar. Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile hizmetin ifasına başlanan hizmet sözleşmelerinde cayma hakkı kullanılamaz. Cayma hakkının kullanımından kaynaklanan masraflar SATICI’ ya aittir.ALICI, iş bu sözleşmeyi kabul etmekle, cayma hakkı konusunda bilgilendirildiğini peşinen kabul eder.<br />
        6.2. Cayma hakkının kullanılması için 14 (ondört) günlük süre içinde SATICI' ya iadeli taahhütlü posta, faks veya eposta ile yazılı bildirimde bulunulması ve ürünün işbu sözleşmede düzenlenen düzenlenen "Cayma Hakkı Kullanılamayacak Ürünler" hükümleri çerçevesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde,<br />
        6.2.1 3. kişiye veya ALICI’ ya teslim edilen ürünün faturası, (İade edilmek istenen ürünün faturası kurumsal ise, geri iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri İADE FATURASI kesilmediği takdirde tamamlanamayacaktır.)<br />
        6.2.2. İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir.<br />
        6.2.3. SATICI, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde toplam bedeli ve ALICI’ yı borç altına sokan belgeleri ALICI’ ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür.<br />
        6.2.4. ALICI’ nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa ALICI kusuru oranında SATICI’ nın zararlarını tazmin etmekle yükümlüdür. Ancak cayma hakkı süresi içinde malın veya ürünün usulüne uygun kullanılmasın sebebiyle meydana gelen değişiklik ve bozulmalardan ALICI sorumlu değildir.<br />
        6.2.5. Cayma hakkının kullanılması nedeniyle SATICI tarafından düzenlenen kampanya limit tutarının altına düşülmesi halinde kampanya kapsamında faydalanılan indirim miktarı iptal edilir.<br />
    </p>
</div>

<div class="section">
    <h3>7. CAYMA HAKKI KULLANILAMAYACAK ÜRÜNLER</h3>
    <p>
        7.1 Aşağıdaki ürünler için cayma hakkı kullanılamaz:
    </p>
    <ul>
        <li>Kişiye özel hazırlanan ürünler</li>
        <li>Ambalajı açılmış, hijyenik nedenlerle iadesi uygun olmayan ürünler</li>
        <li>Çabuk bozulabilen ürünler</li>
        <li>Karıştırılan ve ayrıştırılamayan ürünler</li>
        <li>Kopyalanabilir yazılımlar, CD/DVD, vb. ürünler</li>
        <li>Ambalajı açılmış kozmetik, iç giyim ürünleri</li>
        <li>İptal edilemez özel üretimler</li>
    </ul>
    <p>7.2. ALICI, şikâyet ve itirazları konusunda başvurularını, Kanunda belirtilen parasal sınırlar dâhilinde tüketicinin yerleşim yerinin bulunduğu veya tüketici işleminin yapıldığı yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilir.  </p>
</div>

<div class="section">
    <h3>8. GİZLİLİK VE KİŞİSEL VERİLER</h3>
    <p>

        8.1. ALICI tarafından İNTERNET SİTESİ'nde girilen bilgilerin ve işlemlerin güvenliği için gerekli önlemler, SATICI tarafındaki sistem altyapısında, bilgi ve işlemin mahiyetine göre günümüz teknik imkanları ölçüsünde alınmıştır. Bununla beraber, söz konusu bilgiler ALICI cihazından girildiğinden ALICI tarafında korunmaları ve ilgisiz kişilerce erişilememesi için, virüs ve benzeri zararlı uygulamalara ilişkin olanlar dahil, gerekli tedbirlerin alınması sorumluluğu ALICI'ya aittir.<br />
        8.2. ALICI'nın sair suretle verdiği kişisel veri ve ticari elektronik iletişimlerine dair izin-onaylarının yanısıra ve teyiden; ALICI'nın İNTERNET SİTESİ'ne üyeliği ve alışverişleri sırasında edinilen bilgileri SATICI, muhtelif ürün/hizmetlerin sağlanması ve her türlü bilgilendirme, reklam-tanıtım, iletişim, promosyon, satış, pazarlama, mağaza kartı, kredi kartı ve üyelik uygulamaları amaçlı yapılacak elektronik ve diğer ticari-sosyal iletişimler için, belirtilenler ve halefleri nezdinde süresiz olarak veya öngörecekleri süre ile kayda alınabilir, basılı/manyetik arşivlerde saklanabilir, gerekli görülen hallerde güncellenebilir, paylaşılabilir, aktarılabilir, transfer edilebilir, kullanılabilir ve sair suretlerle işlenebilir. Bu veriler ayrıca kanunen gereken durumlarda ilgili Merci ve Mahkemelere iletilebilir. ALICI kişisel olan-olmayan mevcut ve yeni bilgilerinin, kişisel verilerin korunması hakkında mevzuat ile elektronik ticaret mevzuatına uygun biçimde yukarıdaki kapsamda kullanımına, paylaşımına, işlenmesine ve kendisine ticari olan-olmayan elektronik iletişimler ve diğer iletişimler yapılmasına muvafakat ve izin vermiştir.<br />
        8.3. ALICI SATICI'ya belirtilen iletişim kanallarından ulaşarak veri kullanımı-işlenmelerini ve/veya aynı kanallardan kanuni usulünce ulaşarak ya da kendisine gönderilen elektronik iletişimlerdeki red hakkını kullanarak iletişimleri her zaman için durdurabilir. ALICI'nın bu husustaki açık bildirimine göre, kişisel veri işlemleri ve/veya tarafına iletişimler yasal azami süre içinde durdurulur; ayrıca dilerse, hukuken muhafazası gerekenler ve/veya mümkün olanlar haricindeki bilgileri, veri kayıt sisteminden silinir ya da kimliği belli olmayacak biçimde anonim hale getirilir. ALICI isterse kişisel verilerinin işlenmesi ile ilgili işlemler, aktarıldığı kişiler, eksik veya yanlış olması halinde düzeltilmesi, düzeltilen bilgilerin ilgili üçüncü kişilere bildirilmesi, verilerin silinmesi veya yok edilmesi, otomatik sistemler ile analiz edilmesi sureti ile kendisi aleyhine bir sonucun ortaya çıkmasına itiraz, verilerin kanuna aykırı olarak işlenmesi sebebi ile zarara uğrama halinde giderilmesi gibi konularda SATICI'ya her zaman yukarıdaki iletişim kanallarından başvurabilir ve bilgi alabilir. Bu hususlardaki başvuru ve talepleri yasal azami süreler içinde yerine getirilecek yahut hukuki gerekçesi tarafına açıklanarak kabul edilmeyebilecektir.<br />
        8.4. INTERNET SİTESİ'ne ait her türlü bilgi ve içerik ile bunların düzenlenmesi, revizyonu ve kısmen/tamamen kullanımı konusunda; SATICI'nın anlaşmasına göre diğer üçüncü sahıslara ait olanlar hariç; tüm fikri-sınai haklar ve mülkiyet hakları SATICI'ya aittir.<br />
        8.5. SATICI yukarıdaki konularda gerekli görebileceği her türlü değişikliği yapma hakkını saklı tutar; bu değişiklikler SATICI tarafından INTERNET SİTESİ'nden veya diğer uygun yöntemler ile duyurulduğu andan itibaren geçerli olur.
        8.6. INTERNET SİTESİ'nden ulaşılan diğer sitelerde kendilerine ait gizlilik-güvenlik politikaları ve kullanım şartları geçerlidir, oluşabilecek ihtilaflar ile menfi neticelerinden SATICI sorumlu değildir.
    </p>
</div>

<div class="section">
    <h3>DİĞER HUSUSLAR</h3>
    <p>
        ALICI, sipariş iptallerinde ödemenin en geç 14 gün içinde geri yapılacağını; kredi kartı iadelerinin banka süreçlerine göre yansımasının değişebileceğini kabul eder.
        Talep ve şikayetler, ilgili Tüketici Hakem Heyeti'ne veya Tüketici Mahkemesi’ne yapılabilir.
    </p>
</div>