 
@model IEnumerable<Product>
<!-- Popular Products -->
<div class="sidebar-widget related-posts" >
    <div class="sidebar-title">
        <h2>Popüler Ürünler</h2>
        <div class="separater"></div>
    </div>
</div>

<div class="swiper widget-swiper" id="popular-product-carousel">
    <div class="swiper-wrapper">
        @foreach (var item in Model)
        {
            string imagePath = item.ProductVariants.FirstOrDefault()?.ImagePath ?? item.ProductCode;
            string productName = @item.ProductName.Length > 30 ? @item.ProductName.Substring(0, 29) + "..." : @item.ProductName;
            <div class="swiper-slide">
                <div class="post text-center p-2">
                    <figure class="post-thumb">
                        <a asp-controller="Shop" asp-action="ProductDetailed" asp-route-productCode="@item.ProductCode">
                            <img loading="lazy" src="@Url.Content($"~/images/resource/products/{imagePath}/1.jpg")"
                                 alt="@item.ProductName"
                                 style="width: 180px; height: 180px; object-fit: cover;" />
                        </a>
                    </figure>
                    <h4>
                        <a asp-controller="Shop" asp-action="ProductDetailed" asp-route-productCode="@item.ProductCode">
                            @productName
                        </a>
                    </h4>
                    <div class="rating">
                        <span class="fa fa-star"></span><span class="fa fa-star"></span>
                        <span class="fa fa-star"></span><span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="price">@item.BasePrice ₺</div>
                </div>
            </div>
        }

    </div>
</div>
    
    
    



