@model BirileriWebSitesi.Models.BasketAggregate.Basket
<div class="cart-container">
@if(Model.Items.Count > 0)
{
    decimal itemTotal = 0;

                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Fiyat</th>
                            <th>Miktar</th>
                            <th>Toplam</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            itemTotal = item.Quantity * item.UnitPrice;
                            <tr id="cart-item-@item.ProductCode">
                                <td data-label="Ürün">
                                    <div class="prod-thumb">
                                        <img src="@Url.Content($"/images/resource/products/{item.ImagePath}/1.jpg")" alt="@item.ProductName" />
                                    </div>
                                    <div>@item.ProductName</div>
                                </td>
                                <td data-label="Fiyat">@item.UnitPrice ₺</td>

                                <td data-label="Miktar" class="qty">
                                    <input style="color:black"
                                           data-productCode="@item.ProductCode"
                                           class="quantity-spinner"
                                           type="text"
                                           value="@item.Quantity"
                                           name="quantity">
                                </td>
                                <td data-label="Toplam" class="total" id="item-total-@item.ProductCode">@itemTotal ₺</td>
                                <td data-label="Sil">
                                    <a data-productcode="@item.ProductCode" class="remove-btn">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="totals-box">
                    <ul>
                        <li><strong>Genel Toplam</strong><strong id="cart-total">@Model.TotalAmount ₺</strong></li>
                    </ul>
                    <a class="checkout-btn" asp-controller="Order" asp-action="CheckOut">Sepeti Onayla</a>
                </div>

            @* <div class="cart-options clearfix">
                 <div class="pull-left">
            <div class="apply-coupon clearfix">
            <div class="form-group clearfix">
            <input type="text" name="coupon-code" value="" placeholder="Coupon Code">
            </div>
            <div class="form-group clearfix">
            <button type="button" class="theme-btn coupon-btn">Apply Coupon</button>
            </div>
            </div>
            </div> 

                 <div class="pull-right">
                    <button type="button" class="theme-btn cart-btn update-cart">SEPETİ GÜNCELLE</button>
                </div> 

            </div> *@
}
else
{
    <div class="auto-container">
        <p>Sepetiniz Boş, <a type="button" asp-controller="Shop" asp-action="Index">alışverişe devam edin</a></p>
    </div>
}
</div>