@model BirileriWebSitesi.Models.ViewModels.ProductDetailedVariantImageViewModel
<div class="swiper">
    <div class="swiper-wrapper">
        @foreach (var imagePath in Model.FilePaths)
        {
            <div class="swiper-slide">
                <a href="@imagePath" class="lightbox-image" title="@Model.ProductVariantName">
                    <img src="@Url.Content(imagePath)" loading="lazy" alt="@Model.ProductVariantName" width:"100%;height:auto;object-fit:cover;"/>
                </a>
                <input type="hidden" id="variant-name" value="@Model.ProductVariantName" />
            </div>
        }
    </div>

    <!-- Optional navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <!-- Optional pagination -->
    <div class="swiper-pagination"></div>
</div>
