@model BirileriWebSitesi.Models.OrderAggregate.Order
@{
    bool isCorporate = false;
}
@section Title {
    <meta name="title" content="Kargo ve Fatura Bilgileri">
    <title>Kargo ve Fatura Bilgileri</title>
}
@section Description {
    <meta name="description" content="İthal ürünleri toptan ve perakende olarak satın alın. Katalog ürünleri, marka patent desteği ve e-ticaret çözümleri sunuyoruz.">
}
@section Keywords {
    <meta name="keywords" content="Çin ithalat, toptan ürünler, perakende satış, marka patent, e-ticaret çözümleri, toptan spor malzemeleri ithalatı, marka desteği, toptan petshop ürünleri,
                                    toptan spor malzemesi">
}
@section CSS{
    <style>
        @@media (min-width: 992px) { 
            #is-corporate-main-div {
                margin-top: 50px;
                margin-left: 20px;
            }
        }

        

    </style>
}

<!--CheckOut Page-->
<div class="checkout-page">
    <div class="auto-container">
       
        <!--Checkout Details-->
        <div class="checkout-form">

            <div class="row clearfix">
                <!--Ship to Address-->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    
                    <div class="checkout-title">
                        <h2>Kargo Bilgileri</h2>
                    </div>
                    <div class="row clearfix">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <input type="checkbox" id="is-billing-same" value="true"
                            @(Model.ShipToAddress.IsBillingSame ? "checked=\"checked\"" : "")>        
                            <label for="is-billing-same">Fatura adresi kargo adresi ile aynı</label>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <input type="checkbox" id="is-corporate" value="true"
                            @(Model.BillingAddress.IsCorporate ? "checked=\"checked\"" : "")>
                            <label for="is-corporate">Kurumsal Fatura</label>
                        </div>
                    </div>
                    <div class="row clearfix">

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">İsim <sup>*</sup></div>
                            <input type="text" id="first-name" value="@Model.ShipToAddress.FirstName" placeholder="İsminizi Giriniz...">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <div class="field-label">Soy İsim <sup>*</sup></div>
                        <input type="text" id="last-name" value="@Model.ShipToAddress.LastName" placeholder="Soy İsim Giriniz...">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Email Adresi <sup>*</sup></div>
                        <input type="text" id="email" value="@Model.ShipToAddress.EmailAddress" placeholder="Email Adresi Giriniz">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Telefon</div>
                            <input type="text" id="phone" value="@Model.ShipToAddress.Phone" placeholder="Telefon Numarası Giriniz">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="field-label">Adres <sup>*</sup></div>
                            <input type="text" id="address-detailed" value="@Model.ShipToAddress.AddressDetailed" placeholder="Açık Adres">
                        </div>


                        <!--Form Group-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="field-label">Şehir <sup>*</sup></div>
                            <input type="text" id="city" value="@Model.ShipToAddress.City" placeholder="Şehir">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">İlçe <sup>*</sup></div>
                            <input type="text" id="state" value="@Model.ShipToAddress.State" placeholder="İlçe">
                        </div>
                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Mahalle <sup>*</sup></div>
                            <input type="text" id="street" value="@Model.ShipToAddress.Street" placeholder="Mahalle">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Posta Kodu</div>
                        <input type="text" id="zip" value="@Model.ShipToAddress.ZipCode" placeholder="Posta Kodu">
                        </div>

                    </div>
                </div>
                
                <!--Billing Address-->
                <div class="column col-lg-6 col-md-12 col-sm-12 " id="billing-address-div">
                    <div class="checkout-title">
                        <h2>Fatura Bilgileri</h2>
                    </div>
                    
                    <div class="row clearfix" id="is-corporate-main-div" >
                        <div id="is-corporate-div">
                            @Html.Partial("_PartialIsCorporate",Model.BillingAddress)
                        </div>
                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Email Adresi <sup>*</sup></div>
                            <input type="text" id="billing-email" value="@Model.BillingAddress.EmailAddress" placeholder="Email Adresi Giriniz">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Telefon</div>
                            <input type="text" id="billing-phone" value="@Model.BillingAddress.Phone" placeholder="Telefon Numarası Giriniz">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="field-label">Adres <sup>*</sup></div>
                            <input type="text" id="billing-address-detailed" value="@Model.BillingAddress.AddressDetailed" placeholder="Açık Adres">
                        </div>


                        <!--Form Group-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="field-label">Şehir <sup>*</sup></div>
                            <input type="text" id="billing-city" value="@Model.BillingAddress.City" placeholder="Şehir">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">İlçe <sup>*</sup></div>
                            <input type="text" id="billing-state" value="@Model.BillingAddress.State" placeholder="İlçe">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Mahalle <sup>*</sup></div>
                            <input type="text" id="billing-street" value="@Model.BillingAddress.Street" placeholder="Mahalle">
                        </div>

                        <!--Form Group-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="field-label">Posta Kodu </div>
                            <input type="text" id="billing-zip" value="@Model.BillingAddress.ZipCode" placeholder="Posta Kodu">
                        </div>
                    </div>
                </div>
                
            </div>
                
            <!--Notes-->
            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <div class="field-label">Not</div>
                <textarea id="other-notes" placeholder="Gönderiye ait var ise özel notlarınızı yazınız..."></textarea>
            </div>
            <!--Update user info-->
            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <div class="field-label">Varsayılan Adres Yap</div>
                <input type="checkbox" id="update-user-info" value="true"
                @(Model.UpdateUserInfo ? "checked=\"checked\"" : "")>
            </div>
        </div>
        <!--End Checkout Details-->
        <!--Order Box-->
        <div class="order-box">
            <h2>Siparişiniz</h2>
            <div class="title-box clearfix">
                <div class="col">ÜRÜN</div>
                <div class="col">TOPLAM</div>
            </div>
            <ul>

                @foreach(var item in Model.OrderItems)
                {
                    decimal subTotal = item.UnitPrice * item.Units;
                    <li class="clearfix order-item">
                        <input type="hidden" class="product-code" value="@item.ProductCode" />
                        <input type="hidden" class="product-name" value="@item.ProductName" />
                        <input type="hidden" class="unit-price" value="@item.UnitPrice" />
                        Ürün Adı:<strong><span class="product-name">@item.ProductName </span> / Miktar: <span class="quantity">@item.Units</span>
                        </strong>
                    </li>
                    <li class="clearfix">ALT TOPLAM <span>@subTotal</span></li>
                }
                <li class="clearfix">KARGO ÜCRETİ<span class="free">ÜCRETSİZ</span></li>
                <li class="clearfix">TOPLAM<span>@Model.TotalAmount ₺</span></li>
            </ul>
        </div>
        <!--End Order Box-->

        <div class="lower-box text-right">
            <span class="alert-text">  </span>
            <a id="proceed-to-payment" class="theme-btn order-btn">ÖDEME İŞLEMLERİ</a>
        </div>
    </div>
</div>
<!--End CheckOut Page-->
@section AdditionalScripts {
    <script>
        $(document).ready(function (){

            $(".dropdown").removeClass("current");
            $(".cart").addClass("current");
            var isBillingSame = $("#is-billing-same").is(":checked"); 
            if (isBillingSame) {
                $("#billing-address-div").css("display", "none");
            }
            $(document).on("change", "#is-billing-same", function () {
                var isBillingSame = $(this).is(":checked");
                
                if (isBillingSame) {
                    $("#billing-address-div").css("display", "none");
                }   
                else{
                    $("#billing-address-div").css("display", "block");
                }

            })
            $(document).on("change", "#is-corporate", function () {
             
                var firstName = $("#billing-first-name").val();
                var lastName = $("#billing-last-name").val();
                var corporateName = $("#corporate").val();
                var vATNumber = $("#vat").val();
                var vATState = $("#vat-state").val();
                var isCorporate = $(this).is(":checked");
                
                if (isCorporate) {
                    $("#is-billing-same").prop("checked", false);
                    $("#is-billing-same").prop("disabled", true);
                    $("#billing-address-div").css("display", "block");

                    $("#billing-address-div").css("display", "block");
                    $.ajax({
                        type: "GET",
                        url: "/Order/_PartialIsCorporate",
                        async: true,
                        data: {
                            firstName : firstName,
                            lastName : lastName,
                            corporateName : corporateName,
                            vATNumber : vATNumber,
                            vATState : vATState,
                            isCorporate : isCorporate,
                        },
                        success: function (result) {
                            $("#is-corporate-div").html(result);
                        }
                    });
                }
                else {
                    $("#billing-address-div").css("display", "none");
                    $("#is-billing-same").prop("disabled", false); 
                }
            });

            $(document).on("click", "#proceed-to-payment", function (e) {

                e.preventDefault();
                var button = $(this);
                let requiredFields = ["first-name", "last-name", "email", "city", "state", "address-detailed", "street"];
                var isBillingSame = $("#is-billing-same").is(":checked");
                var isCorporate = $("#is-corporate").is(":checked");
                if (!isBillingSame)
                {
                    if (isCorporate) {
                        requiredFields.push("corporate-name", "vat", "vat-state");
                    } else {
                        requiredFields.push("billing-first-name", "billing-last-name");
                    }
                    requiredFields.push("billing-email", "billing-city", "billing-state", "billing-address-detailed", "billing-street")

                }
                
                let isValid = true;

                // if fields are filled
                requiredFields.forEach(function (id) {
                    let input = document.getElementById(id);
                    if (input && input.value.trim() === "") {
                        isValid = false;
                        input.style.border = "1px solid red"; // Highlight empty fields
                    } else {
                        input.style.border = ""; // Reset style
                    }
                });
                if (!isValid) {
                    e.preventDefault();
                    showAlert(button,"Lütfen zorunlu alanları doldurun.","danger");
                    return;
                }
               
                // Disable button and show loading
                $("#proceed-to-payment").text("İşlem Yapılıyor...").prop("disabled", true);


                // Gather checkout data
                var shipToAddress = {
                    FirstName: $("#first-name").val(),
                    LastName: $("#last-name").val(),
                    CorporateName: "",
                    EmailAddress: $("#email").val(),
                    Phone: $("#phone").val(),
                    AddressDetailed: $("#address-detailed").val(),
                    City: $("#city").val(),
                    State: $("#state").val(),
                    Street: $("#street").val(),
                    ZipCode: $("#zip").val(),
                    IsBilling: false,
                    IsBillingSame: $("#is-billing-same").is(":checked"),
                     IsCorporate:false,
                    Country: "Türkiye",
                    VATnumber :0,
                    VATState :"",
                };

                var billingAddress = {};
                if (shipToAddress.IsBillingSame) {
                    billingAddress = { 
                        FirstName: $("#first-name").val(),
                        LastName: $("#last-name").val(),
                        CorporateName:"",
                        EmailAddress: $("#email").val(),
                        Phone: $("#phone").val(),
                        AddressDetailed: $("#address-detailed").val(),
                        City: $("#city").val(),
                        State: $("#state").val(),
                        Street: $("#street").val(),
                        ZipCode: $("#zip").val(),
                        IsBilling: true,
                        IsBillingSame: $("#is-billing-same").is(":checked"),
                        IsCorporate:false,
                        Country: "Türkiye",
                        VATnumber:0,
                        VATState:"",
                    };
                }
                else
                {
                    billingAddress = {
                        FirstName : $("#billing-first-name").val(),
                        LastName : $("#billing-last-name").val(),
                        CorporateName : $("#corporate-name").val(),
                        EmailAddress: $("#billing-email").val(),
                        Phone: $("#billing-phone").val(),
                        AddressDetailed: $("#billing-address-detailed").val(),
                        City: $("#billing-city").val(),
                        State: $("#billing-state").val(),
                        Street: $("#billing-street").val(),
                        ZipCode: $("#billing-zip").val(),
                        IsBilling: true,
                        IsBillingSame: $("#is-billing-same").is(":checked"),
                        IsCorporate: $("#is-corporate").is(":checked"),
                        Country: "Türkiye",
                        VATnumber : parseInt($("#vat").val()),
                        VATState : $("#vat-state").val(),
                    };
                };
                var orderItems = [];
                $(".order-item").each(function () {
                    var item = {
                        ProductCode: $(this).find(".product-code").val(),
                        ProductName: $(this).find(".product-name").val(),

                        UnitPrice: parseFloat($(this).find(".unit-price").val()),
                        Units: parseInt($(this).find(".quantity").text().trim())
                    };

                    orderItems.push(item);
                });
                var notes = $("#other-notes").val();
                var updateUserInfo = $("#update-user-info").is(":checked");
                var data = {
                    ShipToAddress: shipToAddress,
                    BillingAddress: billingAddress,
                    OrderItems: orderItems,
                    Notes: notes,
                    UpdateUserInfo: updateUserInfo
                };

                // Send AJAX request
                $.ajax({
                    url: "/Order/ProceedToPayment",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "JSON",
                    async: true,
                    data: JSON.stringify(data),
                    
                    headers: { "RequestVerificationToken": getAntiForgeryToken() },
                    success: function (response) {
                        if (response.success){
                           window.location.href = response.redirectUrl;
                        }
                        else{
                            showAlert(button, response.message, "error");
                            $("#proceed-to-payment").text("Ödeme Adımına Geç").prop("disabled", false);
                        }
                    },   
                    error: function (xhr) {
                        let message = "Bir hata oluştu.";
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            message = xhr.responseJSON.message;
                        }
                        showAlert(button, message, "error");
                        $("#proceed-to-payment").text("Ödeme Adımına Geç").prop("disabled", false);
                    }
                });

            });
        });

    </script>
}
