@model BirileriWebSitesi.Models.ViewModels.ProductDetailedViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    string? userId = string.Empty;
    int index = 0;
    if (User.Identity.IsAuthenticated)
    {
        userId = UserManager.GetUserId(User);
    }
    else
    {
        userId = "0";
    }
    string webPath = "https://birilerigt.com/Shop/productDetailed?productCode=";
    webPath += Model.Product.ProductCode.ToString();
}
@section Title {






    <meta name="title" content=@Model.Product.MetaTitle>
    <title>@Model.Product.MetaTitle</title>
}
@section Description {
    <meta name="description" content=@Model.Product.MetaDescription>
}
@section Keywords {
    <meta name="keywords" content=@Model.Product.MetaKeywords>
}

@section SocialMetas {
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="İthal Ürünler | Toptan ve Perakende Satış" />
    <meta property="og:description" content="İthal ürünleri toptan ve perakende olarak satın alın. Katalog ürünleri, marka patent desteği ve e-ticaret çözümleri sunuyoruz." />
    <meta property="og:url" content="@webPath" />
    <meta property="og:image" content="https://birilerigt.com/images/logo-resim.png" /> <!-- put your logo or product image -->
    <meta property="og:locale" content="tr_TR" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="İthal Ürünler | Toptan ve Perakende Satış" />
    <meta name="twitter:description" content="İthal ürünleri toptan ve perakende olarak satın alın. Katalog ürünleri, marka patent desteği ve e-ticaret çözümleri sunuyoruz." />
    <meta name="twitter:image" content="https://birilerigt.com/images/logo-resim.png" />
}
@section CSS {

<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<style>

#variant-image {
    padding: 0;
    margin: 0;
    overflow: hidden;
}


    .product-variants {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    }

    .product-variants h5 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    }

    .variant-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .variant-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    }

    .variant-title {
    font-weight: bold;
    font-size: 16px;
    }

    .variant-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    }

    .variant-button {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #007bff;
    background: white;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    }

    .variant-button:hover,
    .variant-button.active {
    background: #007bff;
    color: white;
    }

        .content {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        .tabs-content {
            overflow-y: auto; /* Enable vertical scrolling if needed */
        }
        @@media (max-width: 768px) {
            .info-column

        {
            width: 100%; /* Adjust width for smaller screens */
        }

          #variant-image .swiper-button-prev,
          #variant-image .swiper-button-next {
                display: none;
            }
         .basic-details .row {
                flex-direction: column;
            }
        
            .product-info-tabs {
                padding: 10px;
                margin: 0 !important;
            }
        
       
        }
        
        .content {
            overflow-wrap: break-word;
        }

        .tab {
            display: none;
        }

            .tab.active-tab {
                display: block;
            }
</style>
}

<input type="hidden" id="product-code" value="@Model.Product.ProductCode" />
<input type="hidden" id="product-name" value="@Model.Product.ProductName" />
<input type="hidden" id="variant-name" value="" />
<!--Product Container-->
<div class="container" style="margin-top:60px;">
                            <div class="row">

                                <div class="col-lg-6 col-md-12 col-sm-12 align-self-start" id="variant-image" >
                                @Html.Partial("_PartialProductVariantImage", Model.ProductVariantImage)
                                </div>
                                <div class="info-column col-lg-6 col-md-12 col-sm-12 align-self-start" >

                                    <div class="details-header" id="variant-info">
                                        @Html.Partial("_PartialProductVariantInfo", Model.ProductVariantInfo)
                                    </div>
                                    <!--variant list-->
                                    <div class="product-variants">
                                    <h5>Varyasyonlar</h5>
                                    <div class="variant-container">
                                        @foreach (var globalVariant in Model.GlobalVariants)
                                        {
                                            bool isSelected = false;
                                            string selectedVariantKey = Model.ProductVariantInfo.SelectedVariantAttribute.Substring(index, 6);
                                            
                                            <div class="variant-group" data-global-key="@globalVariant.Key">
                                                <input type="hidden" class="global-variant-key" value="@globalVariant.Key" />
                                                <span class="variant-title">@globalVariant.Value</span>
                                                <div class="variant-options">
                                                    @{
                                                        Dictionary<string,string> variantAttributes = Model.VariantAttributes
                                                        .Where(k => k.Key.StartsWith(globalVariant.Key))
                                                        .ToDictionary(d=>d.Key,d=>d.Value);
                                                    }
                                                    @foreach (var item in variantAttributes)
                                                    {
                                                        if (item.Key == selectedVariantKey)
                                                            isSelected = true;
                                                        
                                                        @if(isSelected)
                                                        {
                                                            <span class="alert-text"></span>
                                                            <button class="variant-button active" data-key="@item.Key" data-value="@item.Value">@item.Value</button>
                                                        }
                                                        else
                                                        {
                                                            <span class="alert-text"></span>
                                                            <button class="variant-button" data-key="@item.Key" data-value="@item.Value">@item.Value</button>
                                                        }
                                                        isSelected = false;   
                                                    }
                                                </div>
                                            </div>
                                            index += 6; // Increment to the next global variant key
                                        }
                                    </div>
                                </div>

                                
                                    <div class="other-options clearfix">
                                    @* <div class="item-quantity"><input class="quantity-spinner" type="text" value="1" name="quantity"></div> *@
                                    @if (Model.ProductVariantInfo.Quantity > 0)
                                    {
                                        <span class="alert-text"></span>
                                        <button type="button" class="theme-btn btn-style-one add-to-cart" style="margin-top:20px;">Sepete Ekle</button>
                                    }
                                    else
                                    {
                                        <span class="alert-text"></span>
                                        <button type="button" class="theme-btn btn-style-one add-to-inquiry" style="margin-top:20px;background-color:#08c9c6;">Talep Oluştur</button>
                                    }
                                    
                                </div>
                                </div>
                            </div>
                        </div>

<!--Basic Details ends-->
<!--Product Info Tabs-->
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="product-info-tabs clearfix px-3">
                <!--Product Tabs-->
                <div class="prod-tabs tabs-box">

                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#prod-details" class="tab-btn btn-style-one" style="max-width:140px;cursor:pointer;background-color:cadetblue">AÇIKLAMA</li>
                    </ul>

                    <!--Tabs Container-->
                    <div class="tabs-content pt-3" id="prod-details-div">

                        <!--Tab-->
                        <div class="tab" id="prod-details">
                            <div class="content">
                                @Model.Product.ProductDescription
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    
<!--Popular Product Div-->
<div class="row clearfix m-1" id="popular-products-div">
</div>
<!--Related Product Div-->
<div class="row clearfix m-1" id="related-products-div">
</div>

<input type="hidden" id="currentState" value="0" />
<input type="hidden" class="user-id" id="user-id" value="@userId" />

@section FancyBox {
    <script src="~/js/jquery.fancybox.min.js" defer></script>
}
<!--End Sidebar Page Container-->
@section AdditionalScripts {
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        $(document).ready(function () {

            var currentState = parseInt($('#currentState').val());
            lastWidth = window.innerWidth;
             //init product photo swiper
            setTimeout(function () {
                                    new Swiper('.swiper-single-product', {
                                        slidesPerView: 1,
                                        loop: false,
                                        autoplay: false,

                                        breakpoints: {
                                            768: {
                                                slidesPerView: 1, // Number of slides per view on tablets and larger screens
                                            },
                                            575: {
                                                slidesPerView: 1, // Number of slides per view on smaller screens
                                                spaceBetween: 10 // Adjust spacing between slides as needed
                                            }
                                        },
                                        navigation: {
                                            nextEl: '.swiper-button-next',
                                            prevEl: '.swiper-button-prev',
                                        },
                                        pagination: {
                                            el: '.swiper-pagination',
                                            clickable: true,
                                            type: 'bullets',
                                        },

                                    });
                                }, 300);
            //init popular product relatated product swiper
            setTimeout(function () {
                    if (currentState === 0) {
                        currentState = 1;
                        var productCode = $('#product-code').val();


                        $.ajax({
                            type: "GET",
                            url: "/Shop/_PartialPopularProductsWidget",
                            async: true,
                            success: function (result) {
                                $("#popular-products-div").html(result);
                            }
                        });
                        

                        $.ajax({
                            type: "GET",
                            url: "/Shop/_PartialRelatedProductsWidget",
                            data: { productCode: productCode },
                            async: true,
                            success: function (result) {
                                $("#related-products-div").html(result);
                                
                            }
                        });
                         setTimeout(function () {
                                    new Swiper('.widget-swiper', {
                                        slidesPerView: 1,
                                        spaceBetween: 20,
                                        loop: true,
                                        autoplay: {
                                            delay: 4000,
                                            disableOnInteraction: false,
                                        },
                                        breakpoints: {
                                            576: { slidesPerView: 2 },
                                            768: { slidesPerView: 3 },
                                            992: { slidesPerView: 4 }
                                        }
                                    });
                                }, 300)
                        
                     }
                }, 1000);
            //navigation make active
            $(".dropdown").removeClass("current");
            $(".shop").addClass("current");
           
            //description toggler
            $('.tab-btn').on('click', function () {
              var tabId = $(this).data('tab');
              var $tab = $(tabId);

                // If this tab is already active, hide it
                if ($tab.hasClass('active-tab')) {
                    $tab.removeClass('active-tab');
                    $("#prod-details-div").css('display','block');
                } else {
                    $tab.addClass('active-tab');
                    $("#prod-details-div").css('display','none');
                }
            });

            //increase popularity
            var baseProductCode = $("#product-code").val();
            $.ajax({
                    type: "POST",
                    headers: { "RequestVerificationToken": getAntiForgeryToken() },
                    async: true,
                    url: "/Shop/IncreasePopularity",
                    data: { baseProductCode: baseProductCode },
                    
                });
            
            //change variation
            $(document).on("click", ".variant-button", function () {
                var selectedVar = $(this).text().trim();
                // Remove active class from siblings and add it to the clicked button
                $(this).siblings().removeClass("active");
                $(this).addClass("active");
                var button = $(this);
                $(".variant-button").prop("disabled", true);
                var variantAttributes = {};

                $(".variant-group").each(function () {
                    var globalVariantKey = $(this).find(".variant-button.active").data("key"); 
                    var activeVariant = $(this).find(".variant-button.active").text().trim();

                    if (globalVariantKey && activeVariant) {
                        variantAttributes[globalVariantKey] = activeVariant;
                    }
                });

                var productCode = $("#product-code").val();
                var productName = $("#product-name").val();
                $.ajax({
                    type: "GET",
                    url: "/Shop/GetPartialViewsForProductVariant",
                    async: true,
                    data: {
                        productCode: productCode,
                        productName: productName,
                        variantAttributes: variantAttributes
                    },
                    success: function (response) {
                        $("#variant-image").html(response.imagePartial);  
                        $("#variant-info").html(response.infoPartial);
                        $(".variant-button").prop("disabled", false);
                        // Reinitialize FancyBox for new elements
                        $(".lightbox-image").fancybox();

                       setTimeout(function () {
                                    new Swiper('.swiper-single-product', {
                                        slidesPerView: 1,
                                        loop: false,
                                        autoplay: false,

                                        navigation: {
                                            nextEl: '.swiper-button-next',
                                            prevEl: '.swiper-button-prev',
                                        },
                                        pagination: {
                                            el: '.swiper-pagination',
                                            clickable: true,
                                            type: 'bullets',
                                        },

                                    });
                                }, 300);
            
                         setTimeout(function () {
                                    new Swiper('.widget-swiper', {
                                        slidesPerView: 1,
                                        spaceBetween: 20,
                                        loop: true,
                                        autoplay: {
                                            delay: 4000,
                                            disableOnInteraction: false,
                                        },
                                        breakpoints: {
                                            576: { slidesPerView: 2 },
                                            768: { slidesPerView: 3 },
                                            992: { slidesPerView: 4 }
                                        }
                                    });
                                }, 1000)


                    },
                    error: function (xhr) {
                         $(".variant-button").prop("disabled", false);
                    try {
                        // Try parsing JSON response
                        var response = JSON.parse(xhr.responseText);
                        showAlert(button,response.message, "danger");
                    } catch (e) {
                        showAlert(button,"Beklenmeyen Bir Hata Oluştu.Lütfen Tekrar Deneyiniz...", "danger");
                    }
                }

                });
            });

            $(document).on("click", ".add-to-cart", function () {
                var userId = $('#user-id').val();
                var productCode = $('#variant-code').val();
                var quantity = 1;
                var price = parseFloat($('#variant-price').text());
               
                var button = $(this);

                 $(".add-to-cart").text("işlem yapılıyor...").prop("disabled", true);
                $.ajax({
                    type: "POST",
                    headers: { "RequestVerificationToken": getAntiForgeryToken() },
                    async: true,
                    url: "/Cart/AddToCart",
                    data: {
                        userId: userId,
                        productCode: productCode,
                        price: price,
                        quantity: quantity
                    },
                    success: function (response) {
                        if(response.success)
                        {
                            $(".add-to-cart").text("Sepete Ekle").prop("disabled", false);
                               showAlert(button, response.message, "success");
                                let currentItem = response.totalProduct;
                                $(".cart .cart-count").text(currentItem);
                        }
                         else{
                              $(".add-to-cart").text("Sepete Ekle").prop("disabled", false);
                            showAlert(button, response.message, "error");
                            let currentItem = response.totalProduct;
                            $(".cart .cart-count").text(currentItem);
                        }
                    },
                    error: function (xhr) {
                         $(".add-to-cart").text("Sepete Ekle").prop("disabled", false);
                        var response = JSON.parse(xhr.responseText);

                        showAlert(button, response.message, "danger");
                    }
                });
            });

            $(document).on("click", ".add-to-inquiry", function () {
                var userId = $(this).closest('.clearfix').find('.user-id').val();
                var productCode = $('#variant-code').val();
                var price = parseFloat($('#variant-price').text());
                var userId = $('#user-id').val();
                var quantity = 1;
                 $(".add-to-inquiry").text("işlem yapılıyor...").prop("disabled", true);
                var button = $(this);
                $.ajax({
                    type: "POST",
                    headers: { "RequestVerificationToken": getAntiForgeryToken() },
                    async: true,
                    url: "/Cart/AddToInquiry",
                    data: {
                        userId: userId,
                        productCode: productCode,
                        price: price,
                        quantity: quantity
                    },
                    success: function (response) {
                        $(".add-to-inquiry").text("Talep Oluştur").prop("disabled", false);
                        if(response.success)
                        {
                               showAlert(button, response.message, "success");
                                let currentItem = response.totalProduct;
                                $(".inquiry .inquiry-count").text(currentItem);
                        }
                         else{
                            showAlert(button, response.message, "error");
                            let currentItem = response.totalProduct;
                            $(".inquiry .inquiry-count").text(currentItem);
                        }
                    },
                    error: function (xhr) {
                        $(".add-to-inquiry").text("Talep Oluştur").prop("disabled", false);
                        var response = JSON.parse(xhr.responseText);

                        showAlert(button, response.message, "danger");
                    }
                });
            });
        });
        
    </script>
}
